.navbar{
    width: 100vw;
    margin: 0;
    padding: 0;
}


/* Customizing the scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: rgb(9, 44, 95); /* Color of the track */
    
}

::-webkit-scrollbar-thumb {
    background: white; /* Color of the scrollbar handle */
    background: linear-gradient(to right, rgb(9, 44, 95), rgb(46, 89, 178), rgb(150, 210, 255));
    border-radius: 10px; /* Rounded corners for the handle */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color on hover */
    background: linear-gradient(to right, rgb(9, 44, 95), rgb(46, 89, 178), rgb(150, 210, 255));
}
